@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

main {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/baskground-colorful.png);
  background-size: cover;
  padding-top: 140px;
}

#login-container {
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  overflow: hidden scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
  box-shadow: 0 0 8px gray;
  height: 90%;
}

#login-container::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.title {
  background-color: rgb(255, 235, 122);
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.content {
  margin: 0 auto;
  width: 70%;
  font-size: 1.2rem;
}

.content p{
  font-size: 0.8rem;
  margin: 0;
}

.remember {
  font-size: 0.8rem;
}

.login-end {
  text-align: center;
}

.login-end button {
  font-size: 18px;
  width: 30%;
}

.new-edit {
  width: 70%;
  margin: 5px auto;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.228);
  border-radius: 10px;
}

.edit-text {
  margin: 0;
  padding: 0;
}

.new-edit button{
  font-size: 12px;
  width: 30%;
}

/* 新規登録画面 */
.register-main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/baskground-colorful.png);
  background-size: cover;
  padding-top: 110px;
}

/* パスワードリセット要求画面のボタン */
.reset-login-end {
  text-align: center;
}

.reset-login-end button {
  font-size: 16px;
  width: 50%;
}

/* 投稿完了ボタン */
.post-end {
  padding: 30px;
  font-size: 20px;
  text-align: center;
}

.update-alert {
  position: absolute;
  padding: 20px 10%;
  top: 20%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-color: rgb(228, 0, 0);
  font-size: 16px;
}

/* 必須文字 */
.content span {
  color: red;
  font-size: 14px;
}