@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
    box-sizing: border-box;
    background-image: url(../img/baskground-colorful.png);
    background-size: cover;
}

main {
    margin-top: 85px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.contents {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 90%;
    background-color: rgb(255, 255, 255);
}

.contents .update-time {
    margin-right: 10px;
    text-align: right;
    font-size: 14px;
    color: gray;
}

.contents .channel-content {
    width: 100%;
}

.contents .channel-content .content {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    background-color: rgb(255, 236, 226);
}

.contents .content:last-child {
    border-bottom: 1px solid rgb(200, 200, 200);
}

.main-content {
    display: flex;
}

.sidebar {
    width: 25%;
}

.sidebar-menus {
    position: sticky;
    margin-bottom: 0;
    top: 90px;
    z-index: 1;
}

.sidebar-menus  .sidebar-menu{
    border-top: 1px solid rgb(169, 169, 169);
}

.sidebar-menus  .sidebar-menu:last-child{
    border-bottom: 1px solid rgb(169, 169, 169);
}

.sidebar-menus  .sidebar-menu p {
    line-height: 3rem;
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.edit-user {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.edit-user-status {
    margin: 0 15px 1.5em 5px;
    width: 80px;
    height: 80px;
}

.edit-user-status img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(120, 120, 120);
}

.edit-user-status p {
    margin-top: 3px;
    font-size: 12px;
    text-align: center;
}

.balloon1-left {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    margin: 0 0 1.5em 15px;
    padding: 7px 10px;
    width: 80%;
    color: #555;
    font-size: 16px;
    background: #ffffff;
}

.balloon1-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #ffffff;
}

.balloon1-left p {
    margin: 0;
    padding: 0;
}

.channel {
    display: flex;
    width: 80%;
    margin: 15px auto 15px;
    padding: 15px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 20px;
    align-items: center;
    color: white;
    background-color: rgb(255, 0, 0);
    background-image: -webkit-linear-gradient(45deg,transparent 40%,rgba(255,255,255,.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%);
    background-image:         linear-gradient(45deg,transparent 40%,rgba(255,255,255,.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%);
    background-repeat: no-repeat;
    border-bottom: 5px solid rgba(0,0,0,.4);
}

.channel-image {
    width: 100px;
    height: 100px;
}

.channel-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(255, 255, 255);
}

.content .channel .channel-status {
    margin: 0 auto;
    width: 70%;
}

.content .channel .channel-status a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.content .channel .channel-status .categories {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.content .channel .channel-status .categories p {
    margin-right: 20px;
}

.content .channel .channel-status .categories span {
    font-size: 12px;
}

.content .report {
    text-align: right;
    margin-right: 10px;
}

.content .report button {
    font-size: 12px;
}

.content .report button:hover {
    cursor: pointer;
}
 
.search-header {
    text-align: center;
    padding: 30px 0;
    background-color: rgb(255, 221, 170);
    background-image: -webkit-linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
    background-image:         linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
    box-shadow: 0 2px 2px 0 rgba(255,255,255,.2) inset,0 2px 10px 0 rgba(255,255,255,.5) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
    border: 1px solid rgba(0,0,0,.2);
}

/* モーダル全体 */
#js-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: none;
}

.search-modal {
    background-color: white;
    position: fixed;
    width:  50%;
    height: 450px;
    position: absolute;
    top:  0;                   
    bottom:  0;                 
    left:  0;                  
    right:  0;                 
    margin: auto;            
    z-index: 100;
    border-radius: 10px;
    overflow: hidden scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    box-shadow: 0 0 8px yellow;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.active {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.search-modal::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.search-modal .modal-header {
    display: block;
    text-align: center;
    background-color: rgb(0, 211, 0);
    color: white;
}

.search-modal .categories {
    width: 60%;
    margin: 15px auto;    
}

.search-modal .category h5 .search-buttom{
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-modal .category {
    margin-bottom: 15px;
}